* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: black;
}

.bgblack {
    background-color: #272746;
}

.bg-image {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%,rgba(30,30,30,0.6) 50%, rgba(0, 0, 0, 0.9) 100%), url(./moon.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg-image2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%,rgba(30,30,30,0.6) 50%, rgba(0, 0, 0, 0.9) 100%), url(./sunrise-1765027_1920.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bgdark {
    background-color: black;
}

.cardborder {
    border-bottom: #17A2B8 solid 2px;
}

.line {
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 90%);
}

.z-index-line {
    z-index: -1;
}
